{% extends 'base.html' %}
{% block content %}
<main>
    <section class="container my-5">
      <div class="row">
        <div class="col-12 col-lg-7 my-5">
          <h1 class="mb-5">Ссылка не найдена</h1>
          <p>По данной короткой ссылке ничего не найдено.</p>
          <p>
            <a href="{{ url_for('generate_short_link') }}">Вернуться на главную</a>
          </p>
        </div>
        <div class="col-12 col-lg-5">
          <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/404.jpg') }}" alt="" />
        </div>
      </div>
    </section>
  </main>
{% endblock %}

